@import url('Variables.css');

.area{
    font-size:24px;
    font-weight: 700;
    color: var(--black)
}

.numStays{
    font-size:14px;
    color: var(--dark-grey);
    font-weight: 500;
}

.listing-grid{
    display:grid;
    justify-content:space-between;
    align-items:center;
    grid-template-columns: repeat(3,1fr);
}
