:root{
    --width:395px;
    --primary: #EB5757;
    --light-grey:#828282;
    --dark-grey:#4F4F4F;
    --black:#333333;


}

.stay__container{
    font-family: 'Montserrat', sans-serif;
    width: var(--width);
}

.stay__image{
    
    width: var(--width);
    height: 269px;
    object-position: center;
    object-fit: cover;
    border-radius: 24px;
}

.stay__super_host{
    font-size: 12px;
    font-weight: 700;
    color: var(--dark-grey);
    text-transform: uppercase;
    border: 1px solid var(--dark-grey);
    border-radius:12px;
    width: 100px;
    height: 28px;
    margin-right: 10px;
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
}

.detail-row{
    justify-content:space-between;
}

.stay__subtitle{
    
    color: var(--light-grey);
    font-size: 14px;
    font-weight: 500;
}

.stay__rating{
    justify-self: end;
    font-size: 14px;
    font-weight:500;
}

.stay__title{
    font-size:16px;
    font-weight:600;
}
