@import url('Variables.css');

.stay__container{
    font-family: 'Montserrat', sans-serif;
    max-width: var(--width);
    min-width: var(--min-width);
}

.stay__image{
    
    max-width: var(--width);
    max-height: 269px;
    min-height: 238.35px;
    width: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 24px;
    cursor: pointer;
}

.stay__super_host{
    font-size: 12px;
    font-weight: 700;
    color: var(--dark-grey);
    text-transform: uppercase;
    border: 1px solid var(--dark-grey);
    border-radius:12px;
    width: 100px;
    height: 28px;
    margin-right: 10px;
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
}

.detail-row{
    justify-content:space-between;
}

.stay__subtitle{
    
    color: var(--light-grey);
    font-size: 14px;
    font-weight: 500;
}

.stay__rating{
    justify-self: end;
    font-size: 14px;
    font-weight:500;
}

.stay__title{
    font-size:16px;
    font-weight:600;
}
